:root {
  --table-header-bg-color: #37474f;
  --table-header-color: #b0bec5;
  --table-header-font-size: 12px;
  --table-header-active-bg-color: #455a64;
  --table-header-active-color: #ffffff;
  --table-default-column-width: 30px;

  --error-notice-bg-color: #eaeaea;
  --error-notice-border-color: #aaaaaa;
  --error-notice-color: #343434;
}

.vbr-widget {
  table {
    border-collapse: collapse;
    border-spacing: 0;

    th {
      padding: 8px;
      width: var(--table-default-column-width);
      background-color: var(--table-header-bg-color);
      font-size: var(--table-header-font-size);
      font-weight: 700;
      color: var(--table-header-color);
      text-align: center;

      &.is-sortable {
        position: relative;
        cursor: pointer;

        .icon-sort {
          opacity: .5;
        }
      }

      &.is-active {
        background-color: var(--table-header-active-bg-color);
        color: var(--table-header-active-color);

        .icon-sort {
          opacity: 1;
        }
      }
  
      &.is-asc {
        position: relative;
      }
  
      &.is-desc {
        position: relative;
      }

      .icon-sort {
        width: 11px;
        height: 11px;
        margin-left: 5px;
      }
    }
  
    td {
      text-align: center;

      &.is-active {
        background-color: lightgrey;
      }
    }

    th,
    td {
      white-space: nowrap;
      vertical-align: middle;

      &.text-left {
        text-align: left;
      }
      &.text-right {
        text-align: right;
      }
    }
  }

  .error-notice {
    padding: 5px 20px;
    background-color: var(--error-notice-bg-color);
    color: var(--error-notice-color);
    border: 1px solid var(--error-notice-border-color)
  }
}
.vbr-widget-tooltip {
  display: block;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 3px;
    padding: 5px 10px 4px;
  }

  // .tooltip-arrow {
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   position: absolute;
  //   margin: 5px;
  //   border-color: black;
  //   z-index: 1;
  // }

  &[x-placement^="top"] {
    animation: tooltip-animation 200ms ease-in-out;
    // margin: 0;

    // .tooltip-arrow {
    //   display: none;
    //   border-width: 5px 5px 0 5px;
    //   border-left-color: transparent !important;
    //   border-right-color: transparent !important;
    //   border-bottom-color: transparent !important;
    //   bottom: -5px;
    //   left: calc(50% - 5px);
    //   margin-top: 0;
    //   margin-bottom: 0;
    // }
  }

  &[x-placement^="bottom"] {
    // margin-top: 5px;

    // .tooltip-arrow {
    //   border-width: 0 5px 5px 5px;
    //   border-left-color: transparent !important;
    //   border-right-color: transparent !important;
    //   border-top-color: transparent !important;
    //   top: -5px;
    //   left: calc(50% - 5px);
    //   margin-top: 0;
    //   margin-bottom: 0;
    // }
  }

  &[x-placement^="right"] {
    // margin-left: 5px;

    // .tooltip-arrow {
    //   border-width: 5px 5px 5px 0;
    //   border-left-color: transparent !important;
    //   border-top-color: transparent !important;
    //   border-bottom-color: transparent !important;
    //   left: -5px;
    //   top: calc(50% - 5px);
    //   margin-left: 0;
    //   margin-right: 0;
    // }
  }

  &[x-placement^="left"] {
    // margin-right: 5px;

    // .tooltip-arrow {
    //   border-width: 5px 0 5px 5px;
    //   border-top-color: transparent !important;
    //   border-right-color: transparent !important;
    //   border-bottom-color: transparent !important;
    //   right: -5px;
    //   top: calc(50% - 5px);
    //   margin-left: 0;
    //   margin-right: 0;
    // }
  }
}

@keyframes tooltip-animation {
  0% {
    opacity: 0;
    top: 5px;
    // transform: translateY(0);
  }
  100% {
    opacity: 1;
    top: 0;
    // transform: translateY(0);
  }
}
