.vbr-widget {
  table {
    background-color: #eaeaea;
  
    th {
      background-color: black;
      color: white;
      &.is-active {
        background-color: darkolivegreen;
      }
  
      &.is-sortable {
        position: relative;
        // padding-right: 12px;
        // &:after {
        //   position: absolute;
        //   right: 0;
        //   content: url(../assets/svgs/sort-solid.svg);
        //   width: 10px;
        //   height: 10px;
        // }
      }
  
      &.is-asc {
        position: relative;
        // &:after {
        //   position: absolute;
        //   right: 0;
        //   content: 'a';
        // }
      }
  
      &.is-desc {
        position: relative;
        // &:after {
        //   position: absolute;
        //   right: 0;
        //   content: 'd';
        // }
      }
    }
  
    td {
      white-space: nowrap;
      &.is-active {
        background-color: lightgrey;
      }
    }
  }

}
.tooltip {
  display: block;
  z-index: 10000;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 3px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: 5px;

    .tooltip-arrow {
      display: none;
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: 5px;

    .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: 5px;

    .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: 5px;

    .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
}
