.vbr-widget {
  table {
    background-color: #eaeaea;
  
    th {
      background-color: black;
      color: white;
      &.is-active {
        background-color: darkolivegreen;
      }
  
      &.is-sortable {
        position: relative;
        // padding-right: 12px;
        // &:after {
        //   position: absolute;
        //   right: 0;
        //   content: url(../assets/svgs/sort-solid.svg);
        //   width: 10px;
        //   height: 10px;
        // }
      }
  
      &.is-asc {
        position: relative;
        // &:after {
        //   position: absolute;
        //   right: 0;
        //   content: 'a';
        // }
      }
  
      &.is-desc {
        position: relative;
        // &:after {
        //   position: absolute;
        //   right: 0;
        //   content: 'd';
        // }
      }
    }
  
    td {
      white-space: nowrap;
      &.is-active {
        background-color: lightgrey;
      }
    }
  }
}
