.#{$widget-name} {
  font-family: var(--vbr-widget-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--vbr-widget-table-color);

  .text-bold {
    font-weight: 700;
  }

  &.text-left {
    text-align: left;
  }

  &.text-right {
    text-align: right;
  }

  
  &-image {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 16px;
    vertical-align: middle;

    &.is-right {
      margin-left: 16px;
      margin-right: 0;
    }

    &.is-portrait {
      overflow: hidden;
      border-radius: 5000px;
      border: 1px solid var(--vbr-widget-table-portrait-border-color);
      background-color: var(--vbr-widget-table-portrait-bg-color);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &-error-notice {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: var(--vbr-widget-error-notice-bg-color);
    color: var(--vbr-widget-error-notice-color);
    border: 1px solid var(--vbr-widget-error-notice-border-color);

    .icon {
      margin-right: 15px;
    }
  }
}
